.payment-box-container{
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
    border-bottom: 1px solid var(--gray-200, #EAECF0);
}

.card-details-box{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 20px 0px;
    border-bottom: 1px solid var(--gray-200, #EAECF0);
}

.card-details-input-container{
    display: flex;
    gap: 16px;
}

.card-details-input-long{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.card-details-input-long2{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.card-details-input-short{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.card-details-input-long .input-field{
    width: 356px;
}

.card-details-input-long2 .input-field{
    width: 456px;
}

.card-details-input-short .input-field{
    width: 84px;
}

.action-white-close{
    background: none;
    border: 1px solid rgb(0,0,0,0.2);
    border-radius: 8px;
    padding: 10px 16px;

    cursor: pointer;

    color: var(--gray-700, #344054);
    /* Text sm/Semibold */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 142.857% */
    width: 100%;
    text-align: center;
}