.content-box-pmethod{
    display: flex;
    flex-direction: column;
    width: 49.5%;
    border: 2px solid var(--gray-200, #EAECF0);
    border-radius: 8px;
}

.heading-pmethod{
    display: flex;
    gap: 45px;
    padding: 24px 24px 10px 24px;
}

.progress-bar-div-pmethod{
    padding: 28px 14px 14px 14px;
}

.payment-container{
    border: 2px solid var(--gray-200, #EAECF0);
    padding: 16px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
}

.payment-info-container{
    display: flex;
    justify-content: flex-start;
    gap: 16px;
}

.method-container{
    padding: 2.5px;
    border: 1px solid rgb(0, 0, 0, 0.2);
    border-radius: 8px;
}